body {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.homepage {
  background-image: url(./images/donation13.jpg);
  background-repeat: no-repeat;
  height: 70%;
  width: 100%;
  background-size: 100% 90%;
  /* position: absolute;*/
  color: rgb(230, 233, 235);
  margin-top: 0px;
}

.first-section {
  text-align: center;
  padding-left: 30px;
  padding-top: 40px;
}

h1 {
  font-size: 70px;
}

.short-text {
  padding-bottom: 30px;
  margin-top: 0px;
  font-size: 30px;
}

.home-button {
  text-decoration: none;
  background-color: tomato;
  height: 20px;
  width: 30px;
  padding: 20px;
  font-weight: 700;
  font-size: x-large;
  border-radius: 10px;
}

.container {
  display: flex;
}

.box {
  height: 100px;
  width: 300px;
  background-color: lightgray;
  margin-left: 50px;
  padding-left: 50px;
  padding: top 50px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.box:hover {
  border: 5px;
  border-color: brown;
}

.other-amount {
  text-align: center;
  border-top: none;

}

input {
  width: 200px;
  border: 0;
  border-bottom: 1px solid black;
  height: 30px;
  width: 260px;
  font-size: 30px;
}

/*#button2{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}*/
.third-section {
  align-items: center;
  text-align: center;
}

/*fa-solid{
  height: 20px;
  width: 20px;
}*/
.donation-container {
  display: flex;
  justify-items: center;

}

h2 {
  font-size: 32px;
}

.plan {
  margin-left: 40px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-top: 40px;
  padding-right: 5px;

  border: 1px solid gray;
  height: 300px;
  width: 400px;
  box-shadow: 5px gray;
  align-items: flex-start;
}
.color-purple{
  background-color: lightgoldenrodyellow;
}
.color-blue{
  background-color: powderblue;
}
.color-pink{
  background-color: lightpink;
}
.update-section{
  align-items: center;
  text-align: center;
}
.email{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 4px;

}
.form-box{
  padding: 10px;
 border-bottom: 5px;
 background: lightblue;
}